{% extends "base.html" %}
{% block content %}
<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Motor No.</th>
                <th scope="col">Turn On Switch</th>
                <th scope="col">Turn Off Switch</th>
                <th scope="col">Current Speed</th>
                <th scope="col">Speed Change</th>
            </tr>
        </thead>
        <tbody id="motorsTableBody">
        </tbody>
    </table>
    <button id="addmotor" type="submit" class="btn btn-primary text-center">Add a Motor</button>
    <a href="/health" class="btn btn-info float-right">Health Check</a>
</div>
{% endblock %}

{% block scripts %}
<script src="./javascripts/index.js"></script>
{% endblock %}
